[submodule "puppet/modules/apt"]
	path = puppet/modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
[submodule "puppet/modules/php"]
	path = puppet/modules/php
	url = https://github.com/mayflower/puppet-php.git
[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "puppet/modules/ssh"]
	path = puppet/modules/ssh
	url = https://github.com/blt/puppet-ssh.git
